# Android Studio / IntelliJ
.idea/
*.iml
.gradle/
build/
app/build/
visualizations/build/
prediction-engine/build/
local.properties
captures/
.externalNativeBuild/
.cxx/

# OS specific
.DS_Store
Thumbs.db

# Kotlin
.kotlin/

# Diagnostic
*.hprof
*.txt
